header {
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

h4 {
    line-height: 1.5;
}

div {
    width: 100%;
}

.main-interface {
    flex-wrap: wrap;
    width: 85%;
    max-width: 1000px;
}

main {
    justify-content: center;
}

.first-section {
    display: inline-flex;
}
.first-section figure {
    width: 500px;
    margin: 0;
}
.caracteristicas-raciais {
    width: 100%;
}
.habilidades-raciais p {
    line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
    .first-section {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.name-gen {
    margin-bottom: 0.5rem;
    align-items: center;
    display: inline-flex;
}
.name-gen h4 {
    margin: 0;
}
.name-gen button {
    margin: 0;
    margin-right: 10px;
}

.home-aside{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}