header h1 {
    margin: 0;
}

h4 {
    font-weight: 400;
    line-height: 1.5;
}

div {
    width: 100%;
}

#main-interface {
    margin: 20px;
    flex-wrap: wrap;
}

main {
    justify-content: center;
}

#first-section {
    display: inline-flex;
}
#caracteristicas-raciais {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    #first-section {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.name-gen {
    margin-bottom: 0.5rem;
    align-items: center;
}
.name-gen h4 {
    margin: 0;
}
.name-gen button {
    margin: 0;
    margin-right: 10px;
}

.home-aside{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#talentos-raciais ul{
    list-style-type: disc;
    margin-left: 1rem;
    text-align: left;
}
#talentos-raciais li{
    font-size: 12px;
    margin-bottom: 1rem;
}