p {
    text-indent: 0;
}

h2 {
    color: var(--text-red-light);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

section {
    background-color: var(--bg-table-white);
    padding: 20px;
    border: 1px solid var(--border-dark);
    min-width: 250px;
}

.main-interface {
    margin: 20px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
    width: 85%;
    max-width: 1000px;
}
.main-interface li {
    white-space: nowrap;
}

#races-list, #classes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

@media only screen and (max-width: 750px) {
    .main-interface {
        flex-direction: column;
        display: flex;
    }
    .main-interface li {
        font-size: 12px;
    }
    .main-interface h1 {
        font-size: 22px;
    }
    .main-interface h2 {
        font-size: 18px;
    }
    section {
        min-width: auto;
    }
}