.dark-mode{
    --bg-table-grey: #383838;
    --bg-table-white: #282828;
    --bg-white: #121212;
    --bg-black: #dddddd;
    --text-white: #100000;
    --text: #dfdfdf;
    --text-red: #cf2c1f;
    --text-table-white: #c2c2c2;
    --border-dark: #555;
}