:root {
    background-color: #121212;

    --text-red-light: #be3126;
    --text-red: #c63327;

    --text-white: #e6e6e6;
    --text-table-white: #dddddd;
    --text: #100000;

    --border-dark: #41464b;

    --bg-header: #192026;
    --bg-black: #333;
    --bg-white: #dddddd;
    --bg-body-dark: #121212;
    --bg-body-light: #fbfbf8;
    --bg-table-white: #e6e6e6;    
    --bg-table-grey: #cbcbcb;   
    --bg-table-deep-blue: #111518e6; 

    --bg-grey-light: #142136;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;

    --shadow: #100000;
}