@import "./colors/darkmode.css";

.dark-mode hr{
    background-color: #FFFFFF1A;
    color: #FFFFFF1A;
    border-color: #FFFFFF1A;
}

.dark-mode #mySidepanel{
    border-width: 0px;
}

#dark-mode {
    position: absolute;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #9f9f9f;
    top: 12px;
    right: 65px;
    font-size: 24px;
    margin-left: 50px;
}