/* The sidepanel menu */
.sidepanel {
    height: max-content; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 4px 4px 4px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #9f9f9f;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover, .sidepanel a:active {
    color: #f1f1f1;
    text-decoration: none;
}

/* Positionrgb(10, 8, 8)yle the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    z-index: 2; /* Stay on top */
    left: 0;
    top: 0;
    border-radius: 0;
    width: 50px;
    margin-right: 50px;
}

.openbtn:hover {
    background-color: #444;
}