table {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}
table ul {
    margin-bottom: 0;
    line-height: 2;
    list-style-type: disc;
    margin-left: 1rem;
    text-align: left;
}
table li {
    margin-bottom: 0.5rem;
    font-size: 12px;
}
table td, table p {
    font-size: 12px;
    text-align: justify;
}
table td {
    padding: 5px;
}
table th {
    font-size: 16px;
    padding: 10px;
}

.overflow-section table {
    min-width: 500px
}

@media only screen and (max-width: 600px) {
    .overflow-section{
        overflow-x: scroll;
        margin-bottom: 40px;
    }
}

/*##############################################################################################*/

.talent-table table {
    background-color: #f8f9fa80;
}
.talent-table th {
    text-align: center;
    color: #dddddd;
    background-color: #192026;
}
.talent-table td, .talent-table th {
    border: 1px solid #41464b;
    padding: 8px;
}
.talent-table tr:nth-child(even) {
    background-color: #cbcbcb;
}
.talent-table td:first-child {
    background-color: #111518e6;
    color: #dddddd;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    max-width: max-content;
}

/*##############################################################################################*/

.ability-table {
    background-color: #ededed;
    margin-bottom: 20px;
}
.ability-table th {
    text-align: center;
    background-color: #192026;
    color: #dddddd;
}
.ability-table tr {
    border: 1px solid #41464b;
}
.ability-table td {
    line-height: 1.5;
    padding: 10px 10px;
}
.ability-table td:nth-child(1) {
    font-weight: bold;
    text-align: end;
    vertical-align: top;
    padding: 10px 0px 10px 10px;
    width: 10%;
}
.ability-table p:nth-last-child(1) {
    margin-bottom: 5px;
}

/*##############################################################################################*/

.progress-table {
    padding: 10px;
    background-color: #ededed;
    border: 1px solid #cbcbcb;
    margin: 10px 0px;
    font-size: 14px;
}
.progress-table th {
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid #41464b;
}
.progress-table tr:nth-child(1) {
    background-color: #192026;
    color: #dddddd;
    white-space: nowrap;
}
.progress-table td {
    line-height: 1.5;
    padding: 5px 10px;
    vertical-align: middle;
    border: 1px solid #41464b;
}
.progress-table tr:nth-child(even) {
    background-color: #cbcbcb;
}
.progress-table td:nth-child(1) {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    background-color: #111518e6;
    color: #dddddd;
}
.progress-table p:nth-last-child(1) {
    margin-bottom: 5px;
}
.progress-table {
    min-width: 400px;
}

/*##############################################################################################*/

.class-ability-table {
    padding: 10px;
    background-color: #ededed;
    border: 1px solid #cbcbcb;
    margin-bottom: 30px;
    font-size: 14px;
}
.class-ability-table th {
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid #41464b;
    background-color: #192026;
    color: #dddddd;
}
.class-ability-table tr {
    border: 1px solid #41464b;
}
.class-ability-table td {
    line-height: 1.5;
    padding: 20px;
}
.class-ability-table p:nth-last-child(1) {
    margin-bottom: 5px;
}

/*##############################################################################################*/

.alchemic-table {
    font-size: 12px;
}
.alchemic-table td:first-child {
    background-color: #111518e6;
    color: #dddddd;
    font-size: 14px;
}