table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-table-white);
}
table th {
    font-size: 16px;
    padding: 10px;
    border: 1px solid var(--border-dark);
    background-color: var(--bg-header);
    color: var(--text-table-white);
}
table tr:nth-child(even) {
    background-color: var(--bg-table-grey);
}
table td, table p {
    font-size: 14px;
    text-align: justify;
    margin-top: 0;
}
table td {
    padding: 5px;
    border: 1px solid var(--border-dark);
}
table ul {
    margin-bottom: 0;
    line-height: 2;
    list-style-type: disc;
    margin-left: 1rem;
    text-align: left;
}
table li {
    margin-bottom: 0.5rem;
    font-size: 14px;
    margin-left: 0;
}

.overflow-section > table {
    min-width: 600px;
}
.overflow-section {
    width: 100%;
}
.txt-center {
    text-align: center;
}

@media screen and (max-width: 700px) {
    .overflow-section{
        overflow-x: scroll;
        margin-bottom: 40px;
    }
    .overflow-section > table {
        min-width: 700px;
    }
}

/*##############################################################################################*/

.talent-table th {
    text-align: center;
}
.talent-table td, .talent-table th {
    padding: 8px;
}
.talent-table td:first-child {
    background-color: var(--bg-table-deep-blue);
    color: var(--text-table-white);
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    max-width: max-content;
}

/*##############################################################################################*/

.ability-table-racas {
    margin-bottom: 20px;
    border: 1px solid var(--border-dark);
}
.ability-table-racas th {
    text-align: center;
    background-color: var(--bg-header);
    color: var(--text-table-white);
}
.ability-table-racas td {
    line-height: 1.5;
    padding: 10px 10px;
    border: 0;
    border-bottom: 1px solid var(--border-dark);
}
.ability-table-racas td:nth-child(1) {
    font-weight: bold;
    text-align: end;
    vertical-align: top;
    padding: 10px 0px 10px 10px;
    width: 10%;
}
.ability-table-racas p:nth-last-child(1) {
    margin-bottom: 5px;
    margin-top: 0;
}


.natural-weapons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.natural-weapons h1 {
    text-align: center;
    background-color: var(--bg-header);
    color: var(--text-table-white);
    font-size: 16px;
    margin: 0;
    width: 100%;
}
.natural-weapons table {
    max-width: 50%;
    margin: 0;
}

/*##############################################################################################*/

.progress-table {
    padding: 10px;
    margin: 10px 0px;
    font-size: 14px;
}
.progress-table th {
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    max-width: min-content;
}
.progress-table th:first-child {
    width: 75px;
}
.progress-table tr:nth-child(1) {
    background-color: var(--bg-header);
    color: var(--text-table-white);
    white-space: nowrap;
}
.progress-table td {
    line-height: 1.5;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
}
.progress-table td:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
    background-color: #111518e6;
    color: var(--text-table-white);
}
.progress-table td:nth-child(2) {
    text-align: justify;
}
.progress-table p:nth-last-child(1) {
    margin-bottom: 5px;
}

/*##############################################################################################*/

.class-ability-table-racas {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}
.class-ability-table-racas th {
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    background-color: var(--bg-header);
    color: var(--text-table-white);
}
.class-ability-table-racas td {
    line-height: 1.5;
    padding: 20px;
}
.class-ability-table-racas p:nth-last-child(1) {
    margin-bottom: 5px;
}

/*##############################################################################################*/

.class-ability-table-classes {
    padding: 10px;
    margin: 10px 0px;
    font-size: 14px;
}
.class-ability-table-classes th {
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
}
.class-ability-table-classes tr:nth-child(1) {
    background-color: var(--bg-header);
    color: var(--text-table-white);
    white-space: nowrap;
}
.class-ability-table-classes tr {
    margin: 10px;
}
.class-ability-table-classes td {
    line-height: 1.5;
    padding: 10px;
    vertical-align: middle;
}
.class-ability-table-classes td:nth-child(-n+2) {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: var(--bg-header);
    color: var(--text-table-white);
}
.class-ability-table-classes td:nth-child(2) {
    background-color: #111518e3;
    font-size: 16px;
    min-width: 150px;
}
.class-ability-table-classes td:last-child {
    max-width: min-content;
    text-align: center;
}
.class-ability-table-classes p:nth-last-child(1) {
    margin-bottom: 5px;
}

/*##############################################################################################*/
